{{ define "Edit" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>Edit Name, Type and Balance</h2>  
    <form method="POST" action="update">
      <input type="hidden" name="uid" value="{{ .Id }}" />
      <label> Name </label><input type="text" name="name" value="{{ .Name }}"  /><br />
      <label> Type </label><input type="text" name="asslia" value="{{ .Type }}"  /><br />
      <label> Type </label><input type="number" name="balance" value="{{ .Balance }}"  /><br />
      <input type="submit" value="Save record" />
    </form><br />    
  {{ template "Footer" }}
{{ end }}